* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
	font-size: 12px;
	line-height: 20px;
	font-family: arial, sans-serif;
	color: #806c6c;
	background: #eee;
	min-width: 980px;
}

.table0 {  
    font-family: "宋体";  
    font-size: 14px;  
    width: 600px; 
    border-top-width: 1px;  
    border-top-style: solid;  
    border-top-color: #c4cdd4;        
    border-bottom-width: 1px;  
    border-bottom-style: solid;  
    border-bottom-color: #c4cdd4;         
    border-right-width: 1px;  
    border-right-style: solid;  
    border-right-color: #c4cdd4;          
    border-left-width: 1px;  
    border-left-style: solid;  
    border-left-color: #c4cdd4;  
}  
.table0  tr {  
    height : 25px;  
    padding-left:5px;  
    text-align: left;  
}  
.table0 th {  
    color: #4c7c9b;  
    font-weight: normal;  
    background-color: #f1f1f1;  
    height: 25px;  
    border-right-width: 1px;  
    border-right-style: solid;  
    border-right-color: #c4cdd4;  
	padding-left: 5px;
	padding-right: 5px;
}  
.table0 td {  
    border-right-width: 1px;  
    border-right-style: solid;  
    border-right-color: #c4cdd4;  
    border-bottom-width: 1px;  
    border-bottom-style: solid;  
    border-bottom-color: #c4cdd4;  
	padding-left: 5px;
	padding-right: 5px;
}  

header { background: url(images/hfig.jpg) no-repeat center 5px; height: 190px; }

.main { width: 980px; margin: 0 auto; }

.navigation { width: 230px; margin: 0 auto; float: left; background: #fff; }
.navigation ul { list-style: none; list-style-position: outside; float: left; padding-left: 15px; padding-top: 7px; }

.content { width: 735px; margin: 0 auto; float: left; background: #fff; padding-left: 15px;}